
<div class="page-container">
    <img ngSrc="/assets/ekm-logo-white-bg.png" alt="Logo" height="400" width="400" priority>
    <div class="logins-container">
        <a href="/student/login"><div class="login-link">
            <p>Öğrenci Girişi</p>
        </div></a>
        <a href="/teacher/login"><div class="login-link">
            <p>Öğretmen Girişi</p>
        </div></a>
        <a href="/admin/login"><div class="login-link">
            <p>Koç Girişi</p>
        </div></a>
    </div>
</div>

