<form [formGroup]="addExamForm" (ngSubmit)="onSubmit()">
  <div *ngFor="let lesson of lessons">
    <h3>{{ translateLesson(lesson) }}</h3>

    <div formArrayName="{{ lesson }}">
      <div *ngFor="let question of getLessonArray(lesson).controls; let i = index" [formGroupName]="i">
        <select formControlName="subject">
          <option *ngFor="let subject of subjectMap[lesson]" [value]="subject.id">
            {{ subject.subjectName }}
          </option>
        </select>

        <input type="number" formControlName="questionCount" min="1" placeholder="Soru sayısı">

        <button type="button" (click)="removeQuestion(lesson, i)">Sil</button>
      </div>
    </div>

    <button type="button" (click)="addQuestion(lesson)">+ Konu Ekle</button>
  </div>

  <button type="submit">Sınavı Kaydet</button>
</form>
