table {
    width: 95%;
    border-collapse: collapse;
    margin: 20px 0;
    margin-left: 2.5%;
    font-size: 16px;
    text-align: left;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
}

th {
    background-color: #a900ff;
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

td {
    color: #333;
}

td img{
    cursor: pointer;
}