<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Deneme</th>
      <th>Türkçe</th>
      <th>Matematik</th>
      <th>Fen Bilimleri</th>
      <th>T.C. İnkilap Tarihi ve Atatürkçülük</th>
      <th>Din Kültürü ve Ahlak Bilgisi</th>
      <th>Yabancı Dil</th>
      <th>Aktif</th>
      <th>Sonuçlar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exam of exams">
      <td>{{ exam.id }}</td>
      <td>{{ exam.examName }}</td>
      <td>{{ exam.turkishQuestionCount }}</td>
      <td>{{ exam.mathQuestionCount }}</td>
      <td>{{ exam.scienceQuestionCount }}</td>
      <td>{{ exam.historyQuestionCount }}</td>
      <td>{{ exam.religionQuestionCount }}</td>
      <td>{{ exam.foreignLanguageQuestionCount }}</td>
      <td>
        <ng-container *ngIf="exam.active; else completed">
          <input
            type="checkbox"
            [checked]="exam.active"
            (change)="onClose(exam.id)"
          />
        </ng-container>
        <ng-template #completed> Tamamlanmış </ng-template>
      </td>
      <td>
        <button class="results-btn" (click)="viewResults(exam.id)">
          Göster
        </button>
      </td>
    </tr>
  </tbody>
</table>
