.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Added to center vertically */
    align-items: center;     /* Centers horizontally */
    width: 100%;
    height: auto;
}

.teacher-login-page {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Added to center vertically */
    align-items: center;     /* Centers horizontally */
}