.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.student-login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}