<form [formGroup]="examForm" (ngSubmit)="submitExam()">
  <div *ngFor="let lesson of lessonKeys">
    <h3>{{ lessonNames[lesson] }}</h3>

    <div [formGroup]="getStatsGroup(lesson)">
      <div class="field-group">
        <label for="{{lesson}}_correct">Toplam Doğru</label>
        <input id="{{lesson}}_correct" type="number" formControlName="correct" min="0" />
      </div>

      <div class="field-group">
        <label for="{{lesson}}_wrong">Toplam Yanlış</label>
        <input id="{{lesson}}_wrong" type="number" formControlName="wrong" min="0" />
      </div>
    </div>


    <!-- Konular -->
    <div formArrayName="{{ lesson }}">
      <div *ngFor="let group of getLessonArray(lesson).controls; let i = index" [formGroupName]="i" class="subject-entry">
        <label for="{{lesson}}_{{i}}_subject">Konu</label>
        <select id="{{lesson}}_{{i}}_subject" formControlName="subjectId">
          <option *ngFor="let subject of subjectMap[lesson]" [value]="subject.id">
            {{ subject.subjectName }}
          </option>
        </select>

        <div class="field-group">
          <label for="{{lesson}}_{{i}}_wrongCount">Yanlış</label>
          <input id="{{lesson}}_{{i}}_wrongCount" type="number" formControlName="wrongCount" min="0" />
        </div>

        <div class="field-group">
          <label for="{{lesson}}_{{i}}_emptyCount">Boş</label>
          <input id="{{lesson}}_{{i}}_emptyCount" type="number" formControlName="emptyCount" min="0" />
        </div>

        <button type="button" (click)="removeSubject(lesson, i)">Sil</button>
      </div>
    </div>

    <button type="button" (click)="addSubject(lesson)">+ Konu Ekle</button>
  </div>

  <button type="submit">Denemeyi Tamamla</button>
</form>
