<div class="page-container">
    <div class="exams-container">
        <h1>Denemelerim:</h1>
        <a *ngFor="let exam of exams" [routerLink]="['/student/exam', exam.id]">
            <div class="exam">
              <h2>Deneme Adı: {{ exam.examName }}</h2>
              <p>Türkçe Soru Sayısı: {{ exam.turkishQuestionCount }}</p>
              <p>Matematik Soru Sayısı: {{ exam.mathQuestionCount }}</p>
              <p>Sosyal Soru Sayısı: {{ exam.historyQuestionCount }}</p>
              <p>Fen Soru Sayısı: {{ exam.scienceQuestionCount }}</p>
              <p>Yabancı Dil Soru Sayısı: {{ exam.foreignLanguageQuestionCount }}</p>
              <p>Din Kültürü Soru Sayısı: {{ exam.religionQuestionCount }}</p>
            </div>
        </a>   
    </div>
</div>
