/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}

.page-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 100%;
    height: 100%;
}